.cabecalho {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    justify-content: space-between;
    padding: .5em 1.2em;
}

.cabecalho .menu__lista {
    display: flex;
}

.menu__item {
    list-style: none;
}

.menu__link {
    color: #808080;
    margin: 0 0 0 1.5em;
    text-decoration: none;
    text-transform: lowercase;
}

.menu__link.ativo {
    color: #333333;
    font-weight: bold;
}

.menu__link:hover {
    padding-bottom: .4em;
    border-bottom: 1px solid #808080;
}

/*Versão Responsiva*/

@media screen and (min-width: 0) {
    .cabecalho {
        justify-content: center;
        padding: 0 1rem;
    }

    .logo {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        justify-content: space-between;
        padding: 0 5rem;
    }

    .logo {
        display: block;
    }
}